$fergBlue: #015480;
$redText: #c10e2e;
$greenText: #7fbd02;
$blueText: #00a4e1;
$darkBlueText: #00567f;
$orangeText: #fea41a;
$grayText: #828385;
$baseFontSize: 13px;

html {
	font-family: arial, sans-serif;
	font-size: $baseFontSize;

	>body {
		position: relative;
		margin: 0;

		>#wrapper {
			width: 800px;
			background: #f6f6f6;

			@mixin clearfix {
				content: " ";
				display: table;
				clear: both;
			}

			a {
				cursor: pointer;
				outline: none;
			}

			a, h1, h2, h3 {
				>span { display: none; }
			}

			.upper { text-transform: uppercase; }
			.greenText {
				color: $greenText;
				border-color: $greenText;
			}
			.orangeText {
				color: $orangeText;
				border-color: $orangeText;
			}
			.blueText {
				color: $blueText;
				border-color: $blueText;
			}
			.redText {
				color: $redText;
				border-color: $redText;
			}

			>header {
				height: 47px;
				background: $fergBlue url(../img/logo.png) no-repeat 0 0;
				overflow: hidden;
				padding-right: 15px;

				&:after {
					@include clearfix;
				}

				>p {
					width: 133px;
					height: 13px;
					float: right;
					margin: 18px 7px 0 0;
					background: url(../img/get-social-with-us-heading.png) no-repeat 0 0;

					>span { display: none; }
				}

				>a {
					float: right;
					margin: 13px 0 0 6px;
					height: 20px;
					width: 20px;
					background: url(../img/social-media-icons.png) no-repeat 0 0;

					&:hover { background-position: -20px 0; }

					&#instagram { 
						background-position: 0 -60px;
						&:hover { background-position: -20px -60px; }
					}

					&#foursquare { 
						background-position: 0 -20px;
						&:hover { background-position: -20px -20px; }
					}

					&#linkedin { 
						background-position: 0 -40px;
						&:hover { background-position: -20px -40px; }
					}
				}
			}

			>section#intro {
				padding: 40px 40px 15px 15px;
				background: #f4f4f4 url(../img/future-with-ferguson.png) no-repeat 0 0;

				&:after { @include clearfix; }

				>p#youtube {
					margin: 0;
					float: right;

					>img {
						cursor: pointer;
						border: 0;
					}
				}

				>h3, >h1 { display: none; }
			}

			>section#events {
				background: $fergBlue;
				border: 3px solid $orangeText;
				border-width: 3px 0;
				color: #fff;
				padding: 20px;
				font-size: $baseFontSize + 1;

				&:after { @include clearfix; }

				>p {
					line-height: 18px;
					color: #eee;
				}

				>#events-list {
					width: 380px;
					float: right;
					padding-left: 25px;

					>h3 {
						margin: 2px auto 16px;
						height: 18px;
						width: 244px;
						background: url(../img/upcoming-events-heading.png) no-repeat 0 0;
					}

					table {
						font-size: $baseFontSize + 2;
						border-collapse: collapse;
						width: 380px;

						th {
							font-weight: bold;
							padding: 7px 7px 15px;
							text-align: left;
							cursor: pointer;
							background-position: 85% 40%;
							background-repeat: no-repeat;

							&.asc { background-image: url(../img/ascending-arrow.png); }
							&.desc { background-image: url(../img/descending-arrow.png); }

							&:first-child { background-position: 100% 40%; }
						}
					}
					
					>div {
						position: relative;
						height: 285px;
						overflow: hidden;

						>p {
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background: url(../img/events-loading.gif) no-repeat center center;
							margin: 0;
						}

						>table {
							position: absolute;
							top: 0;
							left: 0;

							td {
								padding: 7px;
								vertical-align: top;
							}

							tr.odd > td { background: #16648b; }
						}

						>div {
							position: absolute;
							bottom: 0px;
							left: 0;
							right: 0;
							height: 12px;
							background: url(../img/events-list-bottom.png) repeat-x bottom left;
						}
					}

					>p {
						margin: 9px auto 0;
						width: 73px;

						&:after { @include clearfix; }

						>a {
							display: block;
							width: 30px;
							height: 30px;
							background: url(../img/events-list-buttons.png) no-repeat 0 -30px;
							float: left;

							&:hover { background-position: -30px -30px; }
							&:active { background-position: -60px -30px; }

							&:first-child {
								background-position: 0 0;
								margin-right: 13px;

								&:hover { background-position: -30px 0; }
								&:active { background-position: -60px 0; }
							}
						}
					}
				}

				>#apply-buttons {
					&:after { @include clearfix; }

					>p {
						margin: 0;
						float: left;
						text-align: center;
						width: 158px;

						&:first-child { margin-right: 26px; }

						>span {
							display: block;
							width: 108px;
							height: 26px;
							background: url(../img/experienced-professionals-heading.png) no-repeat 0 0;
							margin: 0 auto 15px;

							&:first-child {
								width: 147px;
								height: 27px;
								background: url(../img/recent-graduates-heading.png) no-repeat 0 0;
							}

							>strong { display: none; }
						}

						>a {
							display: block;
							height: 34px;
							width: 152px;
							margin: 0 auto;
							background: url(../img/apply-button.png) no-repeat 0 0;

							&:hover { background-position: 0 -34px; }
							&:active { background-position: 0 -68px; }
						}
					}
				}
			}

			>section#middle-content {
				background: #f2f2f2 url(../img/middle-content-bg.png) no-repeat 0 0;
				padding-bottom: 30px;

				>div#openings {
					padding: 25px 40px;

					>h2 {
						background: url(../img/available-positions-heading.png) no-repeat 0 0;
						width: 275px;
						height: 19px;
						margin: 0 auto 25px;
					}

					>div {
						width: 720px;
						height: 160px;
						background: #01326a;
					}
				}

				>div#three-columns {
					padding: 21px 11px 0;
					font-size: $baseFontSize + 1;

					&:after { @include clearfix; }

					>section {
						width: 239px;
						float: left;
						overflow: hidden;
						padding-left: 25px;

						&:first-child { padding-left: 0; }

						>h3 {
							width: 239px;
							height: 34px;
							margin-bottom: 23px;
						}
					}


					>section#links {
						font-size: $baseFontSize + 1;
						color: #333;

						>h3 { background: url(../img/important-links-heading.png) no-repeat 0 0; }

						>article {
							margin-bottom: 20px;
							line-height: 18px;

							>h4 {
								margin: 0 0 2px;
								color: $darkBlueText;
							}
							>p { margin: 0; }
							>a {
								font-weight: bold;
								text-decoration: none;
								color: $darkBlueText;
								font-size: $baseFontSize - 3;
								text-transform: uppercase;

								&:hover { text-decoration: underline; }
							}
						}
					}

					>section#twitter-feed {
						min-height: 325px;
						background: url(../img/twitter-loading.gif) no-repeat center center;
						line-height: 18px;
						color: #333;

						&.loaded { background-image: none; }

						>h3 { background: url(../img/twitter-feed-heading.png) no-repeat 0 0; }

						>p {
							margin: 0 0 28px;
							font-size: $baseFontSize + 1;

							>small {
								display: block;
								margin-bottom: 6px;
								font-size: $baseFontSize + 1;
								font-style: italic;
								color: #999;
							}

							>a, >strong { color: $darkBlueText; }
							>a {
								font-weight: bold;
								text-decoration: none;

								&:hover { text-decoration: underline; }
							}
						}
					}

					>section#meet-our-team {
						>h3 { background: url(../img/meet-our-team-heading.png) no-repeat 0 0; }

						>div {
							position: relative;
							width: 238px;
							height: 230px;
							margin-bottom: 22px;
							overflow: hidden;

							>#slider {
								position: absolute;
								left: 0;
								top: 0;

								&:after { @include clearfix; }

								>div {
									float: left;
									width: 238px;

									>img {
										display: block;
										width: 238px;
										height: 170px;
										padding-bottom: 9px;
										background: url(../img/meet-our-staff-shadow.png) no-repeat bottom center;
									}

									>h4 {
										margin: 4px 0 0;
										font-size: 14px;
										color: $darkBlueText;
									}
								}
							}
						}

						>a {
							display: block;
							float: left;
							height: 31px;
							width: 30px;
							cursor: pointer;
							background-position: 0 0;
							background-repeat: no-repeat;

							&:hover { background-position: 0 -31px; }
							&:active { background-position: 0 -62px; }
							&.disabled { 
								background-position: 0 -93px;
								cursor: default;
							}

							&#slider-prev { 
								background-image: url(../img/meet-our-team-previous.png);
								margin-left: 75px;
							}
							&#slider-next { background-image: url(../img/meet-our-team-next.png); }
						}

						>p {
							margin: 0 13px;
							background: #c10d30;
							width: 2px;
							height: 31px;
							float: left;
						}
					}
				}

			}

			>footer {
				border-top: 3px solid $orangeText;
				background: $fergBlue;
				padding: 20px;

				&:after { @inclue clearfix; }

				>h2 {
					margin: 82px 0 0 30px;
					height: 60px;
					width: 242px;
					float: right;
					background: url(../img/your-potential-with-ferguson-heading.png) no-repeat 0 0;
				}

				>h3 {
					margin: 12px 0 18px;
					width: 189px;
					height: 18px;
					background: url(../img/find-out-more-heading.png) no-repeat 0 0;
				}

				>p {
					color: #eee;
					font-size: $baseFontSize + 1;
					line-height: 18px;
				}

				>a {
					display: block;
					margin-left: 135px;
					width: 178px;
					height: 34px;
					margin-top: 20px;
					background: url(../img/learn-more-button.png) no-repeat 0 0;

					&:hover { background-position: 0 -34px; }
					&:active { background-position: 0 -68px; }
				}

				>div {
					margin-top: 30px;
					padding-top: 30px;
					border-top: 1px solid #fff;

					>a {
						display: block;
						height: 17px;
						width: 165px;
						background: url(../img/visit-us-at-ferguson-heading.png) no-repeat 0 0;
					}

					>p {
						margin: 0;
						height: 17px;
						line-height: 17px;
						float: right;
						color: #fff;
						font-size: $baseFontSize - 4;

						>a {
							color: #fff;
							text-decoration: none;
							font-weight: bold;

							&:hover { text-decoration: underline; }
						}
					}
				}
			}
		}

		>#ytp-overlay {
			display: none;
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: #000;
			opacity: 0.8;
			filter: alpha(opacity=80);
			cursor: pointer;
		}

		>#ytp-video {
			display: none;
			position: absolute;
			top: 10%;
			left: 0;
			right: 0;

			>iframe {
				display: block;
				margin: 0 auto;
			}
		}
	}
}