html {
  font-family: arial, sans-serif;
  font-size: 13px; }
  html > body {
    position: relative;
    margin: 0;
    background: #f6f6f6; }
    html > body > #wrapper {
      width: 800px; }
      html > body > #wrapper a {
        cursor: pointer;
        outline: none; }
      html > body > #wrapper .greenText {
        color: #7fbd02; }
      html > body > #wrapper .orangeText {
        color: #fea41a; }
      html > body > #wrapper .blueText {
        color: #00a4e1; }
      html > body > #wrapper .redText {
        color: #c10e2e; }
      html > body > #wrapper > header {
        height: 47px;
        background: #015480 url(../img/logo.png) no-repeat 0 0;
        overflow: hidden;
        padding-right: 15px; }
        html > body > #wrapper > header:after {
          content: " ";
          display: table;
          clear: both; }
        html > body > #wrapper > header > p {
          color: #fff;
          margin: 0 7px 0 0;
          height: 47px;
          line-height: 47px;
          float: right; }
        html > body > #wrapper > header > a {
          float: right;
          margin: 13px 0 0 6px;
          height: 20px;
          width: 20px;
          background: url(../img/social-media-icons.png) no-repeat 0 0; }
          html > body > #wrapper > header > a:hover {
            background-position: -20px 0; }
          html > body > #wrapper > header > a > span {
            display: none; }
          html > body > #wrapper > header > a#instagram {
            background-position: 0 -60px; }
            html > body > #wrapper > header > a#instagram:hover {
              background-position: -20px -60px; }
          html > body > #wrapper > header > a#foursquare {
            background-position: 0 -20px; }
            html > body > #wrapper > header > a#foursquare:hover {
              background-position: -20px -20px; }
          html > body > #wrapper > header > a#linkedin {
            background-position: 0 -40px; }
            html > body > #wrapper > header > a#linkedin:hover {
              background-position: -20px -40px; }
      html > body > #wrapper > section#intro {
        padding: 40px 40px 15px 15px;
        background: #f4f4f4; }
        html > body > #wrapper > section#intro:after {
          content: " ";
          display: table;
          clear: both; }
        html > body > #wrapper > section#intro > p#youtube {
          margin: 0;
          float: right; }
          html > body > #wrapper > section#intro > p#youtube > img {
            cursor: pointer;
            border: 0; }
        html > body > #wrapper > section#intro > h3, html > body > #wrapper > section#intro > h1 {
          margin: 0;
          color: #828385;
          font-weight: normal; }
      html > body > #wrapper > div > #meet-our-team > div {
        position: relative;
        width: 200px;
        height: 265px;
        overflow: hidden; }
        html > body > #wrapper > div > #meet-our-team > div > #slider {
          position: absolute;
          left: 0;
          top: 20px; }
          html > body > #wrapper > div > #meet-our-team > div > #slider:after {
            content: " ";
            display: table;
            clear: both; }
          html > body > #wrapper > div > #meet-our-team > div > #slider > div {
            float: left;
            width: 160px;
            padding: 15px 20px;
            text-align: center; }
      html > body > #wrapper > div > #meet-our-team > a {
        display: block;
        float: left;
        height: 20px;
        width: 25px;
        background: #036;
        cursor: pointer; }
        html > body > #wrapper > div > #meet-our-team > a:hover {
          background: #369; }
        html > body > #wrapper > div > #meet-our-team > a:active {
          background: #333; }
        html > body > #wrapper > div > #meet-our-team > a.disabled {
          background: #ccc;
          cursor: default; }
        html > body > #wrapper > div > #meet-our-team > a > span {
          display: none; }
    html > body > #ytp-overlay {
      display: none;
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      opacity: 0.8;
      cursor: pointer; }
    html > body > #ytp-video {
      display: none;
      position: absolute;
      top: 10%;
      left: 0;
      right: 0; }
      html > body > #ytp-video > iframe {
        display: block;
        margin: 0 auto; }
