html {
  font-family: "Myriad Pro", arial, sans-serif;
  font-size: 13px; }
  html > body {
    position: relative;
    margin: 0; }
    html > body > #wrapper {
      width: 800px;
      background: #f6f6f6; }
      html > body > #wrapper a {
        cursor: pointer;
        outline: none; }
      html > body > #wrapper a > span, html > body > #wrapper h1 > span, html > body > #wrapper h2 > span, html > body > #wrapper h3 > span {
        display: none; }
      html > body > #wrapper .upper {
        text-transform: uppercase; }
      html > body > #wrapper .greenText {
        color: #7fbd02;
        border-color: #7fbd02; }
      html > body > #wrapper .orangeText {
        color: #fea41a;
        border-color: #fea41a; }
      html > body > #wrapper .blueText {
        color: #00a4e1;
        border-color: #00a4e1; }
      html > body > #wrapper .redText {
        color: #c10e2e;
        border-color: #c10e2e; }
      html > body > #wrapper > header {
        height: 47px;
        background: #015480 url(../img/logo.png) no-repeat 0 0;
        overflow: hidden;
        padding-right: 15px; }
        html > body > #wrapper > header:after {
          content: " ";
          display: table;
          clear: both; }
        html > body > #wrapper > header > p {
          color: #fff;
          margin: 0 7px 0 0;
          height: 47px;
          line-height: 54px;
          font-size: 16px;
          float: right; }
        html > body > #wrapper > header > a {
          float: right;
          margin: 13px 0 0 6px;
          height: 20px;
          width: 20px;
          background: url(../img/social-media-icons.png) no-repeat 0 0; }
          html > body > #wrapper > header > a:hover {
            background-position: -20px 0; }
          html > body > #wrapper > header > a#instagram {
            background-position: 0 -60px; }
            html > body > #wrapper > header > a#instagram:hover {
              background-position: -20px -60px; }
          html > body > #wrapper > header > a#foursquare {
            background-position: 0 -20px; }
            html > body > #wrapper > header > a#foursquare:hover {
              background-position: -20px -20px; }
          html > body > #wrapper > header > a#linkedin {
            background-position: 0 -40px; }
            html > body > #wrapper > header > a#linkedin:hover {
              background-position: -20px -40px; }
      html > body > #wrapper > section#intro {
        padding: 40px 40px 15px 15px;
        background: #f4f4f4 url(../img/future-with-ferguson.png) no-repeat 0 0; }
        html > body > #wrapper > section#intro:after {
          content: " ";
          display: table;
          clear: both; }
        html > body > #wrapper > section#intro > p#youtube {
          margin: 0;
          float: right; }
          html > body > #wrapper > section#intro > p#youtube > img {
            cursor: pointer;
            border: 0; }
        html > body > #wrapper > section#intro > h3, html > body > #wrapper > section#intro > h1 {
          display: none; }
      html > body > #wrapper > section#events {
        background: #015480;
        border: 3px solid #fea41a;
        border-width: 3px 0;
        color: #fff;
        padding: 20px;
        font-family: times;
        font-size: 14px; }
        html > body > #wrapper > section#events:after {
          content: " ";
          display: table;
          clear: both; }
        html > body > #wrapper > section#events > #events-list {
          width: 380px;
          float: right;
          padding-left: 25px; }
          html > body > #wrapper > section#events > #events-list > h3 {
            margin: 2px auto 16px;
            height: 18px;
            width: 244px;
            background: url(../img/upcoming-events-heading.png) no-repeat 0 0; }
          html > body > #wrapper > section#events > #events-list > div {
            padding: 0 0 10px;
            background: url(../img/events-list-bottom.png) repeat-x bottom left; }
            html > body > #wrapper > section#events > #events-list > div > table {
              font-family: arial;
              font-size: 15px;
              border-collapse: collapse; }
              html > body > #wrapper > section#events > #events-list > div > table th {
                font-weight: bold;
                padding: 7px 7px 15px; }
              html > body > #wrapper > section#events > #events-list > div > table td {
                padding: 7px;
                vertical-align: top; }
              html > body > #wrapper > section#events > #events-list > div > table tr.odd > td {
                background: #16648b; }
          html > body > #wrapper > section#events > #events-list > p {
            margin: 9px auto 0;
            width: 73px; }
            html > body > #wrapper > section#events > #events-list > p:after {
              content: " ";
              display: table;
              clear: both; }
            html > body > #wrapper > section#events > #events-list > p > a {
              display: block;
              width: 30px;
              height: 30px;
              background: url(../img/events-list-buttons.png) no-repeat 0 -30px;
              float: left; }
              html > body > #wrapper > section#events > #events-list > p > a:hover {
                background-position: -30px -30px; }
              html > body > #wrapper > section#events > #events-list > p > a:active {
                background-position: -60px -30px; }
              html > body > #wrapper > section#events > #events-list > p > a:first-child {
                background-position: 0 0;
                margin-right: 13px; }
                html > body > #wrapper > section#events > #events-list > p > a:first-child:hover {
                  background-position: -30px 0; }
                html > body > #wrapper > section#events > #events-list > p > a:first-child:active {
                  background-position: -60px 0; }
        html > body > #wrapper > section#events > #apply-buttons:after {
          content: " ";
          display: table;
          clear: both; }
        html > body > #wrapper > section#events > #apply-buttons > p {
          margin: 20px 0 0;
          float: left;
          text-align: center;
          width: 152px; }
          html > body > #wrapper > section#events > #apply-buttons > p:first-child {
            margin-right: 30px; }
          html > body > #wrapper > section#events > #apply-buttons > p > span {
            display: block;
            text-transform: uppercase;
            margin-bottom: 15px; }
          html > body > #wrapper > section#events > #apply-buttons > p > a {
            display: block;
            height: 34px;
            width: 152px;
            background: url(../img/apply-button.png) no-repeat 0 0; }
            html > body > #wrapper > section#events > #apply-buttons > p > a:hover {
              background-position: 0 -34px; }
            html > body > #wrapper > section#events > #apply-buttons > p > a:active {
              background-position: 0 -68px; }
      html > body > #wrapper > section#middle-content {
        background: #f2f2f2 url(../img/middle-content-bg.png) no-repeat 0 0;
        padding-bottom: 30px; }
        html > body > #wrapper > section#middle-content > div#openings {
          padding: 25px 40px; }
          html > body > #wrapper > section#middle-content > div#openings > h2 {
            background: url(../img/available-positions-heading.png) no-repeat 0 0;
            width: 275px;
            height: 19px;
            margin: 0 auto 25px; }
          html > body > #wrapper > section#middle-content > div#openings > div {
            width: 720px;
            height: 160px;
            background: #01326a; }
        html > body > #wrapper > section#middle-content > div#three-columns {
          padding: 21px 11px 0;
          font-family: arial;
          font-size: 14px; }
          html > body > #wrapper > section#middle-content > div#three-columns:after {
            content: " ";
            display: table;
            clear: both; }
          html > body > #wrapper > section#middle-content > div#three-columns > section {
            width: 239px;
            float: left;
            overflow: hidden;
            padding-left: 25px; }
            html > body > #wrapper > section#middle-content > div#three-columns > section:first-child {
              padding-left: 0; }
            html > body > #wrapper > section#middle-content > div#three-columns > section > h3 {
              width: 239px;
              height: 34px;
              margin-bottom: 23px; }
          html > body > #wrapper > section#middle-content > div#three-columns > section#links {
            font-size: 14px; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#links > h3 {
              background: url(../img/important-links-heading.png) no-repeat 0 0; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#links > article > h4 {
              margin: 0 0 2px;
              color: #00567f; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#links > article > p {
              margin: 0; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#links > article > a {
              font-weight: bold;
              text-decoration: none;
              color: #00567f;
              font-size: 10px;
              text-transform: uppercase; }
              html > body > #wrapper > section#middle-content > div#three-columns > section#links > article > a:hover {
                text-decoration: underline; }
          html > body > #wrapper > section#middle-content > div#three-columns > section#twitter-feed > h3 {
            background: url(../img/twitter-feed-heading.png) no-repeat 0 0; }
          html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > h3 {
            background: url(../img/meet-our-team-heading.png) no-repeat 0 0; }
          html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > div {
            position: relative;
            width: 238px;
            height: 218px;
            margin-bottom: 22px;
            overflow: hidden; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > div > #slider {
              position: absolute;
              left: 0;
              top: 0; }
              html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > div > #slider:after {
                content: " ";
                display: table;
                clear: both; }
              html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > div > #slider > div {
                float: left;
                width: 238px; }
                html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > div > #slider > div > img {
                  display: block;
                  width: 238px;
                  height: 170px; }
                html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > div > #slider > div > h4 {
                  margin: 10px 0 0;
                  font-family: arial, sans-serif;
                  font-size: 14px;
                  color: #00567f; }
          html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > a {
            display: block;
            float: left;
            height: 31px;
            width: 30px;
            cursor: pointer;
            background-position: 0 0;
            background-repeat: no-repeat; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > a:hover {
              background-position: 0 -31px; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > a:active {
              background-position: 0 -62px; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > a.disabled {
              background-position: 0 -93px;
              cursor: default; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > a#slider-prev {
              background-image: url(../img/meet-our-team-previous.png);
              margin-left: 56px; }
            html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > a#slider-next {
              background-image: url(../img/meet-our-team-next.png); }
          html > body > #wrapper > section#middle-content > div#three-columns > section#meet-our-team > p {
            margin: 0 13px;
            background: #c10d30;
            width: 2px;
            height: 31px;
            float: left; }
      html > body > #wrapper > footer {
        border-top: 3px solid #fea41a;
        background: #015480;
        padding: 20px; }
        html > body > #wrapper > footer:after {
          @inclue clearfix; }
        html > body > #wrapper > footer > h2 {
          margin: 82px 0 0 30px;
          height: 60px;
          width: 242px;
          float: right;
          background: url(../img/your-potential-with-ferguson-heading.png) no-repeat 0 0; }
        html > body > #wrapper > footer > h3 {
          margin: 12px 0 18px;
          width: 189px;
          height: 18px;
          background: url(../img/find-out-more-heading.png) no-repeat 0 0; }
        html > body > #wrapper > footer > p {
          color: #fff;
          font-size: 14px;
          font-family: times, sans-serif; }
        html > body > #wrapper > footer > a {
          display: block;
          margin-left: 135px;
          width: 178px;
          height: 34px;
          margin-top: 20px;
          background: url(../img/learn-more-button.png) no-repeat 0 0; }
          html > body > #wrapper > footer > a:hover {
            background-position: 0 -34px; }
          html > body > #wrapper > footer > a:active {
            background-position: 0 -68px; }
        html > body > #wrapper > footer > div {
          margin-top: 30px;
          padding-top: 30px;
          border-top: 1px solid #fff; }
          html > body > #wrapper > footer > div > a {
            display: block;
            height: 17px;
            width: 165px;
            background: url(../img/visit-us-at-ferguson-heading.png) no-repeat 0 0; }
          html > body > #wrapper > footer > div > p {
            margin: 0;
            height: 17px;
            line-height: 17px;
            float: right;
            color: #fff;
            font-family: arial, sans-serif;
            font-size: 9px; }
            html > body > #wrapper > footer > div > p > a {
              color: #fff;
              text-decoration: none;
              font-weight: bold; }
              html > body > #wrapper > footer > div > p > a:hover {
                text-decoration: underline; }
    html > body > #ytp-overlay {
      display: none;
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      opacity: 0.8;
      cursor: pointer; }
    html > body > #ytp-video {
      display: none;
      position: absolute;
      top: 10%;
      left: 0;
      right: 0; }
      html > body > #ytp-video > iframe {
        display: block;
        margin: 0 auto; }
