html {
  font-family: arial, sans-serif;
  font-size: 13px; }
  html body {
    margin: 0; }
    html body header {
      height: 47px;
      background: #00567f url(../img/logo.png) no-repeat 0 0; }
